body {
  font-family: Helvetica;
  padding: 10px; }

h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 1em 0; }

h4 {
  text-transform: uppercase;
  font-size: 10px; }

h2 {
  margin-top: 20px;
  font-weight: 600; }

.city-input h3 {
  margin: 3px 0; }
  .city-input h3 input {
    width: 40px;
    font-size: inherit;
    display: inline-block; }
.city-input input {
  width: 400px;
  display: block; }

.cities path {
  stroke: black;
  fill: none;
  stroke-width: 1px; }
.cities text {
  fill: rgba(0, 0, 0, 0.9);
  font-size: 11px; }
.cities .axis text {
  font-size: 10px;
  fill: black; }

button {
  font-size: 30px; }
