<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div ng-controller="InputCtrl">
    <h1>How far is it between...</h1>
    <div class="city-input" ng-repeat="pair in cityPairs">
      <h2>{{ pair.cities[0] }} and {{ pair.cities[1] }}</h2>
      <h3><span><input type="num" ng-model="pair.distance"></span> miles</h3>
      <input type="range" max="3000" ng-model="pair.distance">
    </div>
    
    <button ng-click="done()">Show me da map</button>
    
    <div class="cities">
      
    </div>
  
  </div>
  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/numeric-1.2.6.min.js"></script>
  <script src="js/vendor/mds.js"></script>
  <script src="js/vendor/d3.v3.min.js"></script>
  <script src="js/vendor/lodash.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/plot.js"></script>
</body>
</html>
